/* LAYOUT */
* {
	padding: 0;
	margin: 0;
}

body {
	background: #FFF;
	font-family: 'Campton-Light';
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #3c3c3b;
	outline: none;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

a:hover,
a.active
{
	color: #d8d185;
}

.clearfix:after,
.row:after 
{ 
  content: "";
  display: table;
  clear: both; 
}

a.top {
	display: block;
	width: 76px;
	height: 76px;
	position: fixed;
	right: 5%;
	bottom: 100px;
	z-index: 9999;
	opacity: 0;
	background: transparent url('../images/meta/arrow-top.svg') left center no-repeat;
}

a.top:hover {
	background: transparent url('../images/meta/arrow-top-active.svg') left center no-repeat;
}

/* HEADER */
header {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	height: 210px;
}

header .logoBox {
	width: 79%;
	float: left;
}

header .navBox
{
	width: 21%;
	float: left;
}

header .logoBox {
	margin-top: 25px;
}

header .logoBox img {
	max-width: 275px;
}

header .navBox {
	margin-top: 58px;
}

header .navBox ul.langNav {
	list-style: none;
	padding: 0;
	margin: 0;
	
}

header .navBox ul.langNav li {
	float: left;
	margin-left: 13px;	
}

header .navBox ul.langNav li:first-child {
	margin-left: 0;	
}

header .navBox ul.langNav li a {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Campton-Bold';
}

header .navBox p {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Campton-Bold';
	margin-top: 97px;
}

/* TEASER */
.teaser {
	width: 100%;
	max-width: 1600px;
	margin: 0px auto;
}

.teaser .content {
	width: 1200px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -600px;
}

.teaser p.claim {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #d8d185;
	font-size: 108px;
	text-transform: uppercase;
	letter-spacing: 35px;
	white-space: nowrap;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.teaser .addressBox {
	width: 21%;
	position: absolute;
	top: 35px;
	right: 0;
	color: #FFF;
	font-size: 14px;
}

.teaser .addressBox ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.teaser .addressBox ul li {
	padding-left: 23px; 
	margin-bottom: 10px;
}

.teaser .addressBox ul li a {
	color: #FFF;
}

.teaser .addressBox ul li a:hover {
	color: #d8d185;
}

.teaser .addressBox ul li.phone {
	background: transparent url('../images/meta/phone.svg') left center no-repeat; 
}

.teaser .addressBox ul li.mail {
	background: transparent url('../images/meta/mail.svg') left center no-repeat; 
}

.teaser .imageBox {
	position: relative;
	overflow: hidden;
}

.teaser .imageBox img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* USP */
.usp {
	background: #b8a566;
	padding: 90px 0 134px 0;
	width: 100%;
}

.usp .content {
	max-width: 800px;
	margin: 0px auto;
}

.usp .content h2 {
	text-align: center;
	font-weight: normal;
	font-size: 25px;
	line-height: 36px;
	color: #FFF;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	letter-spacing: 5px;
}

.usp .content .circleBox {
	position: relative;
	height: 280px;
	margin-top: 100px;
}

.usp .content .circleBox .circles img {
	width: 268px;
}

.usp .content .circleBox .circles p {
	font-size: 22px;
	color: #FFF;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 296px;
	letter-spacing: 5px;
}

.usp .content .circleBox .circles p.left {
	left: 68px;
}

.usp .content .circleBox .circles p.left.en {
	left: 96px;
}

.usp .content .circleBox .circles p.right {
	left: 452px;
}

.usp .content .circleBox .circles .circle {
	position: absolute; 
	top: 0;
}

/* INFO */
.info {
	width: 100%;
	max-width: 1600px;
	margin: 0px auto;
}

.info .imageBox,
.info .textBox
{
	width: 50%;
	max-width: 800px;
	float: left;
}

.info .imageBox {
	position: relative;
	overflow: hidden;
	min-height: 460px;
}

.info .imageBox img {
	max-width: 100%;
	height: auto;
	display:block;
}

.info .imageBox img.topImg,
.info .imageBox img.bottomImg
{
	position: absolute;
	top: 0;
	left: 0;
}

.info .imageBox img.topImg {
	z-index: 99;
}

.info .imageBox img.bottomImg {
	z-index: 9;
}


.info .textBox {
	padding-top: 65px;
}

.info .textBox .alignRight {
	float: right;
	padding-right: 45px;
}

.info .textBox h2,
.info .textBox .content
{
	float: left;
}

.info .textBox .content {
	max-width: 370px;
	margin: 40px 0 0 40px;
}

.info .textBox .content p,
.info .textBox .content ul
{
	line-height: 23px;
}

.info .textBox .content ul {
	padding: 15px 0 0 15px;
	list-style: disc;
}

.info .textBox h2 {
	font-family: 'Campton-Bold';
	font-size: 26px;
	margin: 0;
	padding: 0;
}

.info .textBox h2.space {
	padding-left: 65px;
}

/* AROUND */
.around {
	width: 100%;
	max-width: 1600px;
	margin: 0px auto;
}

.around canvas {
	width: 1200px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -600px;
}

.around .imageBox {
	position: relative;
}

.around .imageBox img {
	max-width: 100%;
	height: auto;
	display:block;
}

.around .textBox {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding: 90px 0;
}

.around .textBox h2,
.around .textBox .content
{
	float: left;
}
.around .textBox h2 {
	font-family: 'Campton-Bold';
	font-size: 26px;
	margin: 0;
	padding: 0;
}

.around .textBox .content {
	max-width: 350px;
	margin: 40px 0 0 40px;
}

.around .textBox .content p {
	line-height: 23px;
}

/* MAP */
#map {
	width: 100%;
	height: 350px;
}

/* CONTACT */
.contact {
	width: 100%;
	background: #2e2d2c;
	color: #FFF;
}

.contact .textBox {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding: 90px 0;
}

.contact .textBox h2,
.contact .textBox .content
{
	float: left;
}
.contact .textBox h2 {
	font-family: 'Campton-Bold';
	font-size: 26px;
	margin: 0;
	padding: 0;
}

.contact .textBox .content {
	max-width: 350px;
	margin: 85px 0 0 0px;
}

.contact .textBox .content.space {
	margin: 85px 0 0 60px;
}

.contact .textBox .content p {
	line-height: 23px;
}

.contact .textBox .content table {
	border-collapse: collapse;
	line-height: 23px;
}

.contact .textBox .content table td {
	padding-right: 30px;
}

.contact .textBox .content table td a.route  {
	display: block;
	padding-left: 27px;
	line-height: 17px;
}

.contact .textBox .content table td a.route.car {
	background: transparent url('../images/meta/car.svg') left center no-repeat;
	padding-top: 2px;
}

.contact .textBox .content table td a.route.car:hover {
	background: transparent url('../images/meta/car-active.svg') left center no-repeat;
}

.contact .textBox .content table td a.route.train {
	background: transparent url('../images/meta/train.svg') 1px center no-repeat;
	padding-top: 3px;
}

.contact .textBox .content table td a.route.train:hover {
	background: transparent url('../images/meta/train-active.svg') 1px center no-repeat;
}

.contact .textBox .content a {
	color: #FFF;
}

.contact .textBox .content a:hover {
	color: #d8d185;
}

/* FOOTER */
footer {
	width: 100%;
	background: #2e2d2c;
	color: #FFF;
	border-top: 1px solid #494848;
	font-size: 14px;	
}

footer .textBox {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding: 25px 0;
}

footer .textBox .content {
	width: 50%;
	max-width: 600px;
	float: left;
}

footer .textBox .content.copy {
	text-align: right;
}

footer .textBox .content ul {
	list-style: none;
}

footer .textBox .content ul li {
	float: left;
	margin-right: 40px;
}

footer .textBox .content a {
	color: #FFF;
}

footer .textBox .content a:hover,
footer .textBox .content a.active
{
	color: #d8d185;
}

/* DISCLAIMER */
.disclaimer {
	width: 100%;
	background: #2e2d2c;
	color: #FFF;
}

.disclaimer .textBox {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

.disclaimer .textBox .content {
	width: 100%;
	max-width: 800px;
	padding: 30px 0 90px 0;
}

.disclaimer .textBox .content p {
	line-height: 23px;
}
